{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'Change you password' %}{% endblock %}

{% block content %}
    <div class="card">
        <h5 class="card-header">{% trans 'Change you password' %}</h5>
        <div class="card-body">
            <p class="card-text">{% trans 'Use the form below to change your password.' %}</p>
            <form action="." method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary btn-block">{% trans 'Change' %}</button>
            </form>
        </div>

    </div>
{% endblock %}
