{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block content %}
    <div class="card">
        <h5 class="card-header">{% trans 'Reset your password' %}</h5>
        <div class="card-body">
            {% if validlink %}
                <p class="card-text">{% trans 'Please enter your new password twice:' %}</p>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary btn-block">{% trans 'Change my password' %}</button>
                </form>
            {% else %}
                <p class="card-text">{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
            {% endif %}
        </div>
        <div class="card-footer">
            <a class="btn btn-secondary" href="{% url 'login' %}">{% trans "Login" %}</a>
            <a class="btn btn-dark" href="{% url 'register' %}">{% trans "Register" %}</a>
        </div>
    </div>
{% endblock %}
