{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans 'Create an account' %}
{% endblock %}

{% block content %}
    <div class="card">
        <h5 class="card-header">{% trans 'Create an account' %}</h5>
        <div class="card-body">
            <p class="card-text">{% trans 'Please, register using the following form:' %}</p>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ user_form | crispy }}
                <button type="submit" class="btn btn-primary btn-block">{% trans 'Register' %}</button>
            </form>
        </div>
        <div class="card-footer">
            <a class="btn btn-dark" href="{% url 'login' %}">{% trans "Already have an account ?" %}</a>
            <a class="btn btn-secondary" href="{% url 'password_reset' %}">{% trans "Reset my password" %}</a>
        </div>
    </div>
{% endblock %}
